//Fonts
$primary-font: 'Montserrat', sans-serif;

// Animation
$st-trans: all .25s ease-in-out;

// Colors
$color-paper-peach: #F6D6B7;
$color-brown: #986D43;
$color-brown-light: #DEB894;

$color-body: $color-paper-peach;

$color-on-body: $color-brown;

$color-card-border: $color-brown-light;