@import 'app/styles/vars';

.btn {
    box-sizing: border-box;
    max-height: 36px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: $color-card-border;
    }
}