@import 'app/styles/vars';

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 10px;
    transition: $st-trans;
    border-radius: 8px;
    margin-bottom: 1px;
    
    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: calc(100% - 16px);
        height: 1px;
        background-color: $color-card-border;
        transform: translateX(-50%);
    }
    
    &:hover {
        background-color: $color-paper-light;
    }
}

.title, .title a {
    color: $color-brown;
    text-decoration: none;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        margin-left: 8px;
    }
}