@import 'app/styles/vars';

.btn {
    color: $color-brown;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid $color-card-border;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
    font-family: $primary-font;
    transition: $st-trans;

    &:hover {
        background-color: $color-paper-light;
        border: 1px solid $color-brown;
    }
}