@import 'app/styles/vars';

.input {
    width: 80px;
    padding: 8px;
    line-height: 16px;
    border-radius: 8px;
    border: 1px solid $color-card-border;
    background-color: $color-body;
    color: $color-on-body;
    font-weight: 600;

    &:focus {
        outline: 2px solid rgb(213, 149, 143)
    }
}