@import './styles/index.css';

:root {
	--primary-font: 'Montserrat', sans-serif;
	--st-trans: all .1s ease-in-out;
	--color-paper-peach: #F6D6B7;
	--color-paper-light: #FDE2C7;
	--color-brown: #986D43;
	--color-brown-light: #DEB894;
	--color-body: var(--color-paper-peach);
	--color-card: var(--color-paper-light);
	--color-on-body: var(--color-brown);
	--color-card-border: var(--color-brown-light);
}

body {
	background: var(--color-body);
	color: var(--color-on-body);
	font-family: var(--primary-font);
}

a {
	text-decoration: none;
}