.answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 8px 8px 12px;
    border-bottom: 1px solid var(--color-card-border);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: var(--color-on-body);
    font-family: var(--primary-font);
}

.answer:last-child {
    border: none;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}